:root {
  --diameter: 500px;
  --radius: calc(var(--diameter) / 2);
  --circumference: calc(7 * var(--radius));
  --numberOfSlices: 6;
  --sliceHeight: calc(var(--circumference) / var(--numberOfSlices));
  --offset: calc(var(--sliceHeight) / 2);
}
.names {
  list-style: none;
  padding: 0;
  margin: 0;
  height: var(--diameter);
  width: var(--diameter);
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
}
.name {
  background-color: blue;
  display: block;
  width: var(--radius);
  height: var(--sliceHeight);
  line-height: var(--sliceHeight);
  color: white;
  border: 1px solid white;
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  transform-origin: left center;
  position: absolute;
  text-align: center;
  padding-left: 4px;
  left: 50%;
  top: calc(50% - var(--sliceHeight) / 2);
}
.name:nth-child(1) {
  transform: rotate(0deg);
}
.name:nth-child(2) {
  transform: rotate(60deg);
}
.name:nth-child(3) {
  transform: rotate(120deg);
}
.name:nth-child(4) {
  transform: rotate(180deg);
}
.name:nth-child(5) {
  transform: rotate(240deg);
}
.name:nth-child(6) {
  transform: rotate(300deg);
}
