:root {
  --diameter: 490px;
  --start-angle: 0rad;
  --end-angle: 5rad;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wheelapp ul {
  list-style: none;
}
.namesapp .names {
  z-index: -1;
  list-style: none;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  top: 150px;
  transform-origin: center;
  height: var(--diameter);
  width: var(--diameter);
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 5px 10px 8px #888888;
}
.namesapp .names::after {
  content: "";
  z-index: 200;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: white;
}
.namesapp .names li {
  box-sizing: border-box;
  display: block;
  width: var(--diameter);
  height: var(--diameter);
  line-height: var(--diameter);
  color: white;
  transform-origin: center;
  position: absolute;
  text-align: right;
  font-size: 1.5em;
}
/* .namesapp .names li:hover {
  filter: brightness(150%);
} */

@keyframes turn {
  0% {transform: rotate(var(--start-angle))}
  100% {transform: rotate(var(--end-angle))}
}
.spin-wheel {
  animation-name: turn;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}